In [1]:
import pandas as pd
import ast

In [5]:
df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\djoko_rallys_19k.csv", encoding='unicode_escape', low_memory=False)
df

                                        processed_values
0           ["4n,","4","f18","f3","s2","f1","f3","b3n@"]
1                                     ["4n,","6","f2n#"]
2                                                ["4*,"]
3                                     ["4n,","5","b3n@"]
4      ["4","r28","f1","r2","f3","b3","f2","f1","f1",...
...                                                  ...
19319  ["6","f38","b3","b3","b2","f3","b3","s3","f3",...
19320  ["6w,","5","b39","b2","b2","f3","b3","b3","s3"...
19321                            ["4","b39","b3","b3n@"]
19322  ["4d,","4","f19","f3","b3","b3","b1","f2","b3"...
19323  ["6n,","5","f39","b2","f3","b1","f1","f1","f2"...

[19324 rows x 1 columns]

In [6]:
df['processed_values'] = df['processed_values'].apply(ast.literal_eval)

# Calculate the length of each list
df['length_distribution'] = df['processed_values'].apply(len)

# Display the result
print(df[['processed_values', 'length_distribution']])

                                        processed_values  length_distribution
0                    [4n,, 4, f18, f3, s2, f1, f3, b3n@]                    8
1                                         [4n,, 6, f2n#]                    3
2                                                  [4*,]                    1
3                                         [4n,, 5, b3n@]                    3
4      [4, r28, f1, r2, f3, b3, f2, f1, f1, f3, b3, b...                   14
...                                                  ...                  ...
19319  [6, f38, b3, b3, b2, f3, b3, s3, f3, b3, f3, b...                   19
19320  [6w,, 5, b39, b2, b2, f3, b3, b3, s3, b3, b3, ...                   19
19321                                 [4, b39, b3, b3n@]                    4
19322  [4d,, 4, f19, f3, b3, b3, b1, f2, b3, s3, f3, ...                   15
19323  [6n,, 5, f39, b2, f3, b1, f1, f1, f2, b3, b2, ...                   22

[19324 rows x 2 columns]

In [7]:
df["length_distribution"].value_counts()

length_distribution
2     3435
3     2929
4     2139
1     1782
5     1779
6     1380
7     1150
8      899
9      715
10     573
11     443
12     393
13     303
14     280
15     226
16     181
17     152
18     107
19      97
20      78
21      59
23      44
22      44
24      33
25      24
27      15
26      14
30       7
31       7
28       7
37       4
29       4
35       4
33       3
36       3
32       3
34       3
54       1
45       1
42       1
43       1
38       1
Name: count, dtype: int64