In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
df_0 = pd.read_csv(r"C:\Users\carlo\TrainingsTool\Tennis\ML_Stuff\df_djoker_ready_to_split.csv", encoding="unicode_escape", low_memory=False)

In [4]:
df = df_0.drop("Unnamed: 0", axis=1)

In [5]:
df[["Pts1", "Pts2"]] = df.Pts.str.split("-", expand = True)

In [6]:
df = df.drop("Pts", axis=1)

In [7]:
df = df[["Pts1", "Pts2", "Gm1", "Gm2", "Set1", "Set2", "Serving", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31", "32", "33", "34", "35", "36", "37", "38", "39", "40", "41", "42", "43", "44", "45", "46", "47", "48", "49", "50", "51", "52", "53"]]

In [8]:
columns = ["Pts1", "Pts2"]
for i in columns:
    df[str(i)] = df[str(i)].str.replace('AD', '50')

In [9]:
df_serving = df[df.Serving == "ND"]
df_returning = df[df.Serving != "ND"]

In [10]:
df_serving_1 = df_serving.reset_index(drop=True)

In [11]:
df_returning_1 = df_returning.reset_index(drop=True)

In [33]:
a = df_returning_1["2"]

In [37]:
a = a.values

In [40]:
a = pd.Series(a)

In [46]:
df = pd.read_csv(r"C:\Users\carlo\TrainingsTool\Tennis\ML_Stuff\first_serve_djoko_dir.csv", encoding="unicode_escape", low_memory=False)
df.drop("Unnamed: 0", axis = 1, inplace=True)

In [54]:
counts_ptsA = df["Pts_A"].value_counts()
counts_ptsB = df["Pts_B"].value_counts()

In [55]:
df_1 = df[~df['Pts_A'].isin(counts_ptsA[counts_ptsA < 20].index)]

      Pts_A  Pts_B  Gm1  Gm2  Set1  Set2 0_dir
0         0      0    0    0     0     0     4
1         0     15    0    0     0     0     4
2        15     15    0    0     0     0     4
3        30     15    0    0     0     0     4
4        40     15    0    0     0     0     4
...     ...    ...  ...  ...   ...   ...   ...
9369      0     15    5    4     1     1     6
9370      0     30    5    4     1     1     6
9371     15     30    5    4     1     1     4
9372     30     30    5    4     1     1     4
9373     40     30    5    4     1     1     6

[9358 rows x 7 columns]

In [57]:
df_2 = df_1[~df_1['Pts_B'].isin(counts_ptsB[counts_ptsB < 20].index)]

In [60]:
counts_target = df_2["0_dir"].value_counts()
df_3 = df_2[~df_2['0_dir'].isin(counts_target[counts_target < 200].index)]

0_dir
4        4456
6        4031
5         509
996       158
994       141
995        23
S          15
R           5
99994       5
V           4
99996       3
0e          2
99995       2
Q           1
0q29        1
Name: count, dtype: int64