In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\charting-m-points-from-2017-new.csv", encoding="unicode_escape", low_memory=False)
len(df)

295353

In [4]:
len(df.loc[df["match_id"].str.contains("Novak_Djokovic", case = True)])

19324

In [5]:
len(df.loc[df["match_id"].str.contains("Carlos_Alcaraz", case = True)])

8734

In [6]:
len(df.loc[df["match_id"].str.contains("Daniil_Medvedev", case = True)])

18464

In [7]:
len(df.loc[df["match_id"].str.contains("Rafael_Nadal", case = True)])

16347

In [8]:
len(df.loc[df["match_id"].str.contains("Roger_Federer", case = True)])

19775

In [9]:

len(df.loc[df["match_id"].str.contains("Jannik_Sinner", case = True)])

8995

In [10]:
len(df.loc[df["match_id"].str.contains("Andrey_Rublev", case = True)])

9232

In [11]:
len(df.loc[df["match_id"].str.contains("Stefanos_Tsitsipas", case = True)])

15661

In [12]:
len(df.loc[df["match_id"].str.contains("Alexander_Zverev", case = True)])

12458

In [13]:
len(df.loc[df["match_id"].str.contains("Hubert_Hurkacz", case = True)])

6543

In [14]:
len(df.loc[df["match_id"].str.contains("Casper_Ruud", case = True)])

7837

In [15]:
len(df.loc[df["match_id"].str.contains("Grigor_Dimitrov", case = True)])

7522

In [16]:
len(df.loc[df["match_id"].str.contains("Felix_Auger_Aliassime", case = True)])

7293

In [17]:
len(df.loc[df["match_id"].str.contains("Andy_Murray", case = True)])

7478

In [18]:
len(df.loc[df["match_id"].str.contains("Stan_Wawrinka", case = True)])

7163

In [19]:
len(df.loc[df["match_id"].str.contains("Gael_Monfils", case = True)])

8887

In [20]:
len(df.loc[df["match_id"].str.contains("Dominic_Thiem", case = True)])

14699

In [21]:
len(df.loc[df["match_id"].str.contains("John_Isner", case = True)])

6845

In [22]:
len(df)

295353

In [24]:
df_match_id = df["match_id"]
df_match_id

0         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
1         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
2         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
3         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
4         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
                                ...
295348    20170102-M-Doha-R32-Vasek_Pospisil-Fernando_Ve...
295349    20170102-M-Doha-R32-Vasek_Pospisil-Fernando_Ve...
295350    20170102-M-Doha-R32-Vasek_Pospisil-Fernando_Ve...
295351    20170102-M-Doha-R32-Vasek_Pospisil-Fernando_Ve...
295352    20170102-M-Doha-R32-Vasek_Pospisil-Fernando_Ve...
Name: match_id, Length: 295353, dtype: object

In [30]:
df_match_id['new'] = df_match_id.str.split('-')

# Explode the list to create separate rows for each value
df_exploded = df_match_id.explode('new')

# Reset index if needed
df_exploded.reset_index(drop=True, inplace=True)

# Display the resulting DataFrame
df_exploded

0         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
1         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
2         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
3         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
4         20221123-M-Davis_Cup_Finals-QF-Marin_Cilic-Pab...
                                ...
590702    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590703    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590704    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590705    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590706                                                  NaN
Name: match_id, Length: 590707, dtype: object

In [31]:
split_row_index = 295353

# Split the DataFrame
df_original = df_exploded.iloc[:split_row_index]
df_new_stuff = df_exploded.iloc[split_row_index:]

In [33]:
df_new_stuff

295353    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
295354    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
295355    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
295356    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
295357    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
                                ...
590702    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590703    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590704    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590705    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590706                                                  NaN
Name: match_id, Length: 295354, dtype: object

In [34]:
df_new_stuff = df_new_stuff.drop(df_new_stuff.index[-1])

In [35]:
df_new_stuff

295353    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
295354    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
295355    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
295356    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
295357    [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...
                                ...
590701    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590702    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590703    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590704    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
590705    [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...
Name: match_id, Length: 295353, dtype: object

In [36]:
df_split = df_new_stuff.apply(pd.Series)
df_resulting = pd.concat([df_new_stuff, df_split], axis = 1)
print(df_resulting)

                                                 match_id         0  1  \
295353  [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...  20221123  M
295354  [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...  20221123  M
295355  [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...  20221123  M
295356  [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...  20221123  M
295357  [20221123, M, Davis_Cup_Finals, QF, Marin_Cili...  20221123  M
...                                                   ...       ... ..
590701  [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...  20170102  M
590702  [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...  20170102  M
590703  [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...  20170102  M
590704  [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...  20170102  M
590705  [20170102, M, Doha, R32, Vasek_Pospisil, Ferna...  20170102  M

                       2    3               4                    5    6
295353  Davis_Cup_Finals   QF     Marin_Cilic  Pablo_Carreno_Busta  NaN
295354  Davis_Cup_Finals   QF     Marin_Cilic  Pablo_Carreno_Busta  NaN
295355  Davis_Cup_Finals   QF     Marin_Cilic  Pablo_Carreno_Busta  NaN
295356  Davis_Cup_Finals   QF     Marin_Cilic  Pablo_Carreno_Busta  NaN
295357  Davis_Cup_Finals   QF     Marin_Cilic  Pablo_Carreno_Busta  NaN
...                  ...  ...             ...                  ...  ...
590701              Doha  R32  Vasek_Pospisil    Fernando_Verdasco  NaN
590702              Doha  R32  Vasek_Pospisil    Fernando_Verdasco  NaN
590703              Doha  R32  Vasek_Pospisil    Fernando_Verdasco  NaN
590704              Doha  R32  Vasek_Pospisil    Fernando_Verdasco  NaN
590705              Doha  R32  Vasek_Pospisil    Fernando_Verdasco  NaN

[295353 rows x 8 columns]

In [47]:
df_names_1 = df_resulting[4]
df_names_2 = df_resulting[5]
df_all_names = pd.concat([df_names_1, df_names_2], ignore_index=True)

In [45]:
df_resulting[4].value_counts()

4
Novak_Djokovic        14660
Rafael_Nadal          13068
Stefanos_Tsitsipas    12048
Roger_Federer         10920
Casper_Ruud            6936
                      ...
Dominik_Koepfer          93
Filip_Horansky           91
Jack_Draper              91
Francisco_Llanes         90
Victor_Estrella          82
Name: count, Length: 323, dtype: int64

In [46]:
df_resulting[5].value_counts()

5
Daniil_Medvedev         14143
Alexander_Zverev         9295
Roger_Federer            8855
Dominic_Thiem            8689
Nick_Kyrgios             8199
                        ...
Billy_Harris               85
Michael_Mmoh               85
Michael_Geerts             84
Carlos_Gimeno_Valero       79
Saidalo_Saidkarimov        72
Name: count, Length: 288, dtype: int64

In [50]:
value_counts= df_all_names.value_counts()

In [51]:
value_counts.head(10)

Roger_Federer              19775
Novak_Djokovic             18630
Daniil_Medvedev            18267
Rafael_Nadal               15792
Stefanos_Tsitsipas         14820
Dominic_Thiem              13611
Alexander_Zverev           12105
Nick_Kyrgios               11104
Botic_Van_De_Zandschulp     9604
Denis_Shapovalov            9166
Name: count, dtype: int64

In [52]:
value_counts

Roger_Federer           19775
Novak_Djokovic          18630
Daniil_Medvedev         18267
Rafael_Nadal            15792
Stefanos_Tsitsipas      14820
                        ...
Billy_Harris               85
Michael_Mmoh               85
Michael_Geerts             84
Carlos_Gimeno_Valero       79
Saidalo_Saidkarimov        72
Name: count, Length: 420, dtype: int64