In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\df_all_ralleys_splitted.csv", encoding='unicode_escape', low_memory = False)

In [5]:
df.drop("Unnamed: 0", axis = 1, inplace=True)

In [6]:
df

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,"4d,",5n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"4#,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"4n,",5,f29,f3n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"4#,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295348,4,b1,b1,f1,b1,f1*,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295349,"6w,",5,f1,b2,b3d@,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295350,"4w,",6d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295351,6,s1,f1,f2n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295352,6,s2n#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
serve_dir = ["4", "5", "6"]

In [8]:
# ToDo: We look at the return on first serve
df_first_serve = df.loc[df["0"].isin(serve_dir)]
df_first_serve

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
3,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,r29,f18,f1n@,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4,b38,b39,b38,f38*,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4,f1#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4,r28,f38*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295346,4,s1,r3,f3*,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295347,6,f3d#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295348,4,b1,b1,f1,b1,f1*,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295351,6,s1,f1,f2n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295352,6,s2n#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# ToDo: We look at the return on second serve
df_second_serve = df.loc[df["1"].isin(serve_dir)]
df_second_serve

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
2,"4n,",5,f29,f3n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"4w,",6,b27,f38,b27,f38,b38,b39,b38,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"6n,",4,b39,f19,f28,f38*,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"4w,",6,b18,f38,b38,b39,b38,f38,s18,f39*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"4n,",4,b38,b28,f17,f19,f29,f1n@,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295339,"5n,",6,b2,f+1,b1*,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295340,"4w,",5,f1,f2,f3,b2,f1*,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295341,"5d,",5,f1d@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295344,"6d,",5,b2,f1w@,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295349,"6w,",5,f1,b2,b3d@,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_first_serve["0"].value_counts()

0
4    63634
6    58051
5    20197
Name: count, dtype: int64

In [15]:
df_first_serve_dir_4 = df_first_serve.loc[df_first_serve["0"].str.contains("4")]
df_first_serve_dir_5 = df_first_serve.loc[df_first_serve["0"].str.contains("5")]
df_first_serve_dir_6 = df_first_serve.loc[df_first_serve["0"].str.contains("6")]

In [22]:
df_first_serve_dir_4_return_1 = df_first_serve_dir_4.loc[df_first_serve_dir_4["1"].str.contains("1")]
df_first_serve_dir_4_return_2 = df_first_serve_dir_4.loc[df_first_serve_dir_4["1"].str.contains("2")]
df_first_serve_dir_4_return_3 = df_first_serve_dir_4.loc[df_first_serve_dir_4["1"].str.contains("3")]

df_first_serve_dir_5_return_1 = df_first_serve_dir_5.loc[df_first_serve_dir_5["1"].str.contains("1")]
df_first_serve_dir_5_return_2 = df_first_serve_dir_5.loc[df_first_serve_dir_5["1"].str.contains("2")]
df_first_serve_dir_5_return_3 = df_first_serve_dir_5.loc[df_first_serve_dir_5["1"].str.contains("3")]

df_first_serve_dir_6_return_1 = df_first_serve_dir_6.loc[df_first_serve_dir_6["1"].str.contains("1")]
df_first_serve_dir_6_return_2 = df_first_serve_dir_6.loc[df_first_serve_dir_6["1"].str.contains("2")]
df_first_serve_dir_6_return_3 = df_first_serve_dir_6.loc[df_first_serve_dir_6["1"].str.contains("3")]

In [34]:
df_first_serve_dir_4_return_1.loc[df_first_serve_dir_4_return_1["1"].str.contains("x")]

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
2848,4,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3032,4,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6973,4,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8391,4,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10769,4,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289263,4,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290784,4,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290942,4,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291647,4,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292466,4,s1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_first_serve_dir_4_return_2.loc[df_first_serve_dir_4_return_2["1"].str.contains("x")]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84]
Index: []

[0 rows x 85 columns]

In [42]:
df_first_serve_dir_4_return_3.loc[df_first_serve_dir_4_return_3["1"].str.contains("x")]

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
1270,4,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2127,4,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6058,4,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14243,4,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14267,4,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291124,4,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292481,4,s3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294533,4,s3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294941,4,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295206,4,s3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df_first_serve_dir_5_return_1.loc[df_first_serve_dir_5_return_1["1"].str.contains("x")]

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
8485,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11216,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13564,5,f1x@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13715,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16938,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19009,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19748,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25923,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27331,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29155,5,b1x@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33998,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34503,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40506,5,f1x@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40815,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43051,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43176,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48896,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52185,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61435,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68728,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71876,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71999,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75177,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89058,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89906,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90550,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91817,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92738,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104005,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107318,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107831,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159110,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161831,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164132,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169970,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176039,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178215,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178983,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179251,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183787,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185842,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187801,5,s1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196505,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200619,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229373,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229385,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231852,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233713,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244255,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247190,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247614,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248696,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267723,5,s1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273150,5,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276165,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282784,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288488,5,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_first_serve_dir_5_return_2.loc[df_first_serve_dir_5_return_2["1"].str.contains("x")]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84]
Index: []

[0 rows x 85 columns]

In [57]:
df_first_serve_dir_5_return_3.loc[df_first_serve_dir_5_return_3["1"].str.contains("x")]

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
424,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9639,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23586,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23619,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26215,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39410,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40761,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46541,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49706,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55751,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61866,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83789,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90882,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97773,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102825,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103679,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109102,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110054,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110116,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120947,5,s3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124418,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125299,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128861,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130621,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165040,5,s3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180315,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184128,5,r3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187416,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204086,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216572,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218120,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218203,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219237,5,r3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227182,5,r3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227741,5,r3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229895,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233500,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238957,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242454,5,s3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263729,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264852,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274823,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279391,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279409,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280675,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283731,5,b3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286882,5,s3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287866,5,m3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293494,5,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df_first_serve_dir_6_return_1.loc[df_first_serve_dir_6_return_1["1"].str.contains("x")]

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
342,6,m1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,6,m1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1415,6,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2050,6,s1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7145,6,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290200,6,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290921,6,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291387,6,s1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291787,6,b1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293167,6,f1x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df_first_serve_dir_6_return_2.loc[df_first_serve_dir_6_return_2["1"].str.contains("x")]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84]
Index: []

[0 rows x 85 columns]

In [73]:
df_first_serve_dir_6_return_3.loc[df_first_serve_dir_6_return_3["1"].str.contains("x")]

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
3,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,6,r3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1137,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289817,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290589,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292045,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295150,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295319,6,s3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df_first_serve_dir_4_return_1["1"] = df_first_serve_dir_4_return_1["1"].str.replace('*', 'a')
len(df_first_serve_dir_4_return_1.loc[df_first_serve_dir_4_return_1["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3804999025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_4_return_1["1"] = df_first_serve_dir_4_return_1["1"].str.replace('*', 'a')

475

In [76]:
df_first_serve_dir_4_return_2["1"] = df_first_serve_dir_4_return_2["1"].str.replace('*', 'a')
len(df_first_serve_dir_4_return_2.loc[df_first_serve_dir_4_return_2["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3572861072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_4_return_2["1"] = df_first_serve_dir_4_return_2["1"].str.replace('*', 'a')

65

In [77]:
df_first_serve_dir_4_return_3["1"] = df_first_serve_dir_4_return_3["1"].str.replace('*', 'a')
len(df_first_serve_dir_4_return_3.loc[df_first_serve_dir_4_return_3["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\1102016797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_4_return_3["1"] = df_first_serve_dir_4_return_3["1"].str.replace('*', 'a')

254

In [78]:
df_first_serve_dir_5_return_1["1"] = df_first_serve_dir_5_return_1["1"].str.replace('*', 'a')
len(df_first_serve_dir_5_return_1.loc[df_first_serve_dir_5_return_1["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\2320258913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_5_return_1["1"] = df_first_serve_dir_5_return_1["1"].str.replace('*', 'a')

99

In [79]:
df_first_serve_dir_5_return_2["1"] = df_first_serve_dir_5_return_2["1"].str.replace('*', 'a')
len(df_first_serve_dir_5_return_2.loc[df_first_serve_dir_5_return_2["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\1067388414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_5_return_2["1"] = df_first_serve_dir_5_return_2["1"].str.replace('*', 'a')

17

In [80]:
df_first_serve_dir_5_return_3["1"] = df_first_serve_dir_5_return_3["1"].str.replace('*', 'a')
len(df_first_serve_dir_5_return_3.loc[df_first_serve_dir_5_return_3["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\483828653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_5_return_3["1"] = df_first_serve_dir_5_return_3["1"].str.replace('*', 'a')

42

In [81]:
df_first_serve_dir_6_return_1["1"] = df_first_serve_dir_6_return_1["1"].str.replace('*', 'a')
len(df_first_serve_dir_6_return_1.loc[df_first_serve_dir_6_return_1["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\543788616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_6_return_1["1"] = df_first_serve_dir_6_return_1["1"].str.replace('*', 'a')

192

In [82]:
df_first_serve_dir_6_return_2["1"] = df_first_serve_dir_6_return_2["1"].str.replace('*', 'a')
len(df_first_serve_dir_6_return_2.loc[df_first_serve_dir_6_return_2["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\1914131510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_6_return_2["1"] = df_first_serve_dir_6_return_2["1"].str.replace('*', 'a')

34

In [83]:
df_first_serve_dir_6_return_3["1"] = df_first_serve_dir_6_return_3["1"].str.replace('*', 'a')
len(df_first_serve_dir_6_return_3.loc[df_first_serve_dir_6_return_3["1"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\267286582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_first_serve_dir_6_return_3["1"] = df_first_serve_dir_6_return_3["1"].str.replace('*', 'a')

55

In [87]:
df_second_serve

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
2,"4n,",5,f29,f3n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"4w,",6,b27,f38,b27,f38,b38,b39,b38,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"6n,",4,b39,f19,f28,f38*,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"4w,",6,b18,f38,b38,b39,b38,f38,s18,f39*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"4n,",4,b38,b28,f17,f19,f29,f1n@,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295339,"5n,",6,b2,f+1,b1*,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295340,"4w,",5,f1,f2,f3,b2,f1*,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295341,"5d,",5,f1d@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295344,"6d,",5,b2,f1w@,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295349,"6w,",5,f1,b2,b3d@,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df_second_serve_dir_4 = df_second_serve.loc[df_second_serve["1"].str.contains("4")]
df_second_serve_dir_5 = df_second_serve.loc[df_second_serve["1"].str.contains("5")]
df_second_serve_dir_6 = df_second_serve.loc[df_second_serve["1"].str.contains("6")]

In [89]:
df_second_serve_dir_5

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
2,"4n,",5,f29,f3n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"4w,",5,b17,f39,b38,b38,s39,f38,b39,f38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"5n,",5,b38,f1n@,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"6d,",5,b27,f18,f29,f!2d@,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"4w,",5,b38,b38,b29,f38,b29,f19*,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295331,"6n,",5,f2,f3,b3,f3,b3,f1,f1d#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295340,"4w,",5,f1,f2,f3,b2,f1*,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295341,"5d,",5,f1d@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295344,"6d,",5,b2,f1w@,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295349,"6w,",5,f1,b2,b3d@,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
df_second_serve_dir_4_return_1 = df_second_serve_dir_4.loc[df_second_serve_dir_4["2"].str.contains("1")]
df_second_serve_dir_4_return_2 = df_second_serve_dir_4.loc[df_second_serve_dir_4["2"].str.contains("2")]
df_second_serve_dir_4_return_3 = df_second_serve_dir_4.loc[df_second_serve_dir_4["2"].str.contains("3")]

df_second_serve_dir_5_return_1 = df_second_serve_dir_5.loc[df_second_serve_dir_5["2"].str.contains("1")]
df_second_serve_dir_5_return_2 = df_second_serve_dir_5.loc[df_second_serve_dir_5["2"].str.contains("2")]
df_second_serve_dir_5_return_3 = df_second_serve_dir_5.loc[df_second_serve_dir_5["2"].str.contains("3")]

df_second_serve_dir_6_return_1 = df_second_serve_dir_6.loc[df_second_serve_dir_6["2"].str.contains("1")]
df_second_serve_dir_6_return_2 = df_second_serve_dir_6.loc[df_second_serve_dir_6["2"].str.contains("2")]
df_second_serve_dir_6_return_3 = df_second_serve_dir_6.loc[df_second_serve_dir_6["2"].str.contains("3")]

In [100]:
df_second_serve_dir_6_return_3

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
16,"4n,",6,b38,b38,b28,f+18,f17w#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,"4w,",6,b38,b29,f27,f18,f38,b38,b38,s18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,"6d,",6,f39w@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,"6n,",6,f37,f3n@,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,"4w,",6,f38,b37,b39,b27,f38,b39,b27,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295154,"6n,",6,b37,b3,b1,f1,f3,b2,f3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295268,"5n,",6,f3,bn#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295277,"4+d,",6,f3,b3,f3,f3,f2n#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295280,"5n,",6,f3,b2,f3w@,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295338,"4w,",6,f3,b2,f2,r2,f3,s2n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
len(df_second_serve_dir_4_return_1.loc[df_second_serve_dir_4_return_1["2"].str.contains("x")])

135

In [131]:
len(df_second_serve_dir_4_return_2.loc[df_second_serve_dir_4_return_2["2"].str.contains("x")])

0

In [132]:
len(df_second_serve_dir_4_return_3.loc[df_second_serve_dir_4_return_3["2"].str.contains("x")])

93

In [133]:
len(df_second_serve_dir_5_return_1.loc[df_second_serve_dir_5_return_1["2"].str.contains("x")])

110

In [134]:
len(df_second_serve_dir_5_return_2.loc[df_second_serve_dir_5_return_2["2"].str.contains("x")])

0

In [135]:
len(df_second_serve_dir_5_return_3.loc[df_second_serve_dir_5_return_3["2"].str.contains("x")])

86

In [136]:
len(df_second_serve_dir_6_return_1.loc[df_second_serve_dir_6_return_1["2"].str.contains("x")])

62

In [137]:
len(df_second_serve_dir_6_return_2.loc[df_second_serve_dir_6_return_2["2"].str.contains("x")])

0

In [138]:
len(df_second_serve_dir_6_return_3.loc[df_second_serve_dir_6_return_3["2"].str.contains("x")])

57

In [139]:
df_second_serve_dir_4_return_1["2"] = df_second_serve_dir_4_return_1["2"].str.replace('*', 'a')
len(df_second_serve_dir_4_return_1.loc[df_second_serve_dir_4_return_1["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3056440590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_4_return_1["2"] = df_second_serve_dir_4_return_1["2"].str.replace('*', 'a')

507

In [140]:
df_second_serve_dir_4_return_2["2"] = df_second_serve_dir_4_return_2["2"].str.replace('*', 'a')
len(df_second_serve_dir_4_return_2.loc[df_second_serve_dir_4_return_2["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3499450894.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_4_return_2["2"] = df_second_serve_dir_4_return_2["2"].str.replace('*', 'a')

25

In [141]:
df_second_serve_dir_4_return_3["2"] = df_second_serve_dir_4_return_3["2"].str.replace('*', 'a')
len(df_second_serve_dir_4_return_3.loc[df_second_serve_dir_4_return_3["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\4070213203.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_4_return_3["2"] = df_second_serve_dir_4_return_3["2"].str.replace('*', 'a')

233

In [142]:
df_second_serve_dir_5_return_1["2"] = df_second_serve_dir_5_return_1["2"].str.replace('*', 'a')
len(df_second_serve_dir_5_return_1.loc[df_second_serve_dir_5_return_1["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3334834835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_5_return_1["2"] = df_second_serve_dir_5_return_1["2"].str.replace('*', 'a')

464

In [143]:
df_second_serve_dir_5_return_2["2"] = df_second_serve_dir_5_return_2["2"].str.replace('*', 'a')
len(df_second_serve_dir_5_return_2.loc[df_second_serve_dir_5_return_2["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3074769291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_5_return_2["2"] = df_second_serve_dir_5_return_2["2"].str.replace('*', 'a')

33

In [144]:
df_second_serve_dir_5_return_3["2"] = df_second_serve_dir_5_return_3["2"].str.replace('*', 'a')
len(df_second_serve_dir_5_return_3.loc[df_second_serve_dir_5_return_3["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3437197426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_5_return_3["2"] = df_second_serve_dir_5_return_3["2"].str.replace('*', 'a')

255

In [145]:
df_second_serve_dir_6_return_1["2"] = df_second_serve_dir_6_return_1["2"].str.replace('*', 'a')
len(df_second_serve_dir_6_return_1.loc[df_second_serve_dir_6_return_1["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3512831345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_6_return_1["2"] = df_second_serve_dir_6_return_1["2"].str.replace('*', 'a')

290

In [146]:
df_second_serve_dir_6_return_2["2"] = df_second_serve_dir_6_return_2["2"].str.replace('*', 'a')
len(df_second_serve_dir_6_return_2.loc[df_second_serve_dir_6_return_2["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\2909109103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_6_return_2["2"] = df_second_serve_dir_6_return_2["2"].str.replace('*', 'a')

20

In [147]:
df_second_serve_dir_6_return_3["2"] = df_second_serve_dir_6_return_3["2"].str.replace('*', 'a')
len(df_second_serve_dir_6_return_3.loc[df_second_serve_dir_6_return_3["2"].str.contains("a", case = True)])

C:\Users\Carlo\AppData\Local\Temp\ipykernel_9248\3109236822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_second_serve_dir_6_return_3["2"] = df_second_serve_dir_6_return_3["2"].str.replace('*', 'a')

126