In [1]:
import pandas as pd

In [2]:
# import data
df = pd.read_csv(r"C:\Users\carlo\TrainingsTool\Tennis\ML_Stuff\df_djoker_ready_to_split.csv", encoding="unicode_escape", low_memory=False)
df

,Unnamed: 0,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,...,44,45,46,47,48,49,50,51,52,53
0,0,0-0,0,0,0,0,ND,"4n,",4,f18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0-15,0,0,0,0,ND,"4n,",6,f2n#,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,15-15,0,0,0,0,ND,"4*,",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,30-15,0,0,0,0,ND,"4n,",5,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,40-15,0,0,0,0,ND,4,r28,f1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19319,19319,0-15,5,4,1,1,ND,6,f38,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,19320,0-30,5,4,1,1,ND,"6w,",5,b39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,19321,15-30,5,4,1,1,ND,4,b39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,19322,30-30,5,4,1,1,ND,"4d,",4,f19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,19323,40-30,5,4,1,1,ND,"6n,",5,f39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# drop redundant index
df = df.drop("Unnamed: 0", axis = 1)

In [5]:
# all rows where Djokovic is serving
df_serving = df[df.Serving == "ND"]
df_returning = df[df.Serving != "ND"]

In [18]:
len(df_serving), len(df_returning)

(9374, 9950)

In [19]:
first_serve_in_play = ["4", "5", "6"]

In [20]:
df_serving_1st = df_serving.loc[df_serving["0"].isin(first_serve_in_play)]
df_serving_1st

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
4,40-15,0,0,0,0,ND,4,r28,f1,r2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0-0,1,1,0,0,ND,4,r37,b+3,m2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15-30,1,1,0,0,ND,4,b2n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,30-30,1,1,0,0,ND,6,s1w#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,15-0,2,2,0,0,ND,4,s2n#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19311,30-15,4,3,1,1,ND,6,f3x#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19312,40-15,4,3,1,1,ND,4,f28,b1,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19318,0-0,5,4,1,1,ND,6,s18,f+1,l2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19319,0-15,5,4,1,1,ND,6,f38,b3,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19321,15-30,5,4,1,1,ND,4,b39,b3,b3n@,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_serving_1st["0"].value_counts()

0
4    2336
6    2241
5     384
Name: count, dtype: int64

In [27]:
df_serving_2nd = df_serving.loc[df_serving["1"].isin(first_serve_in_play)]
len(df_serving_2nd), df_serving_2nd["1"].value_counts()

(2845,
 1
 4    1014
 5     980
 6     851
 Name: count, dtype: int64)

In [30]:
df_returning_1st = df_returning.loc[df_returning["0"].isin(first_serve_in_play)]
len(df_returning_1st), df_returning_1st["0"].value_counts()

(5053,
 0
 4    2349
 6    2169
 5     535
 Name: count, dtype: int64)

In [31]:
df_returning_2nd = df_returning.loc[df_returning["1"].isin(first_serve_in_play)]
len(df_returning_2nd), df_returning_2nd["1"].value_counts()

(3073,
 1
 5    1372
 4     896
 6     805
 Name: count, dtype: int64)

In [54]:
# df_serving_1st #  "2" "4" "6" and so on are the relevant Djokovic shots
# df_serving_2nd # "3" "5" "7" and so on are the relevant Djokovic shots

# df_returning_1st "3" "5" "7" and so on are the relevant Djokovic shots
# df_returning_2nd "4" "6" and so on are the relevant Djokovic shots

In [47]:
df_serving_1st_all_shot_pairs = df_serving_1st[["1", "2"]]
df_serving_1st_all_shot_pairs = df_serving_1st_all_shot_pairs[df_serving_1st_all_shot_pairs['2'].notna()]
df_serving_1st_all_shot_pairs

         1    2
4      r28   f1
13     r37  b+3
25     r28   f1
31     b39   b2
33     f17  f+3
...    ...  ...
19301  f17  f+3
19312  f28   b1
19318  s18  f+1
19319  f38   b3
19321  b39   b3

[3652 rows x 2 columns]

In [56]:
df_addition1 = df_serving_1st[["3", "4"]]
df_addition1 = df_addition1[df_addition1["3"].notna()]
df_addition1 = df_addition1[df_addition1["4"].notna()]
df_addition1.rename(columns={"3": "1", "4": "2"}, inplace = True)
df_addition1

        1      2
4      r2     f3
13     m2     o2
25     f1     f2
33     s3   z1w#
34     f3     z1
...    ..    ...
19299  b2     s3
19301  m2   o-1*
19312  f2     b2
19318  l2  o=1d@
19319  b3     b2

[2230 rows x 2 columns]

In [62]:
df_addition2 = df_serving_1st[["5", "6"]]
df_addition2 = df_addition2[df_addition2["5"].notna()]
df_addition2 = df_addition2[df_addition2["6"].notna()]
df_addition2.rename(columns={"5": "1", "6": "2"}, inplace = True)
df_addition2

        1     2
4      b3    f2
13     b2  f3w@
25     b2    f1
34     l3   o3*
44     b2    f3
...    ..   ...
19286  f3   b+3
19295  s2    f3
19299  f3  b2d#
19312  f1    f2
19319  f3    b3

[1409 rows x 2 columns]

In [64]:
df_addition3 = df_serving_1st[["7", "8"]]
df_addition3 = df_addition3[df_addition3["7"].notna()]
df_addition3 = df_addition3[df_addition3["8"].notna()]
df_addition3.rename(columns={"7": "1", "8": "2"}, inplace = True)
df_addition3

        1     2
4      f1    f1
25     f2   f+1
44     m2    o3
45     f3   b+3
87     l3   o1*
...    ..   ...
19285  f1   f+3
19286  b3  z1w@
19295  b3    b2
19312  b3    b3
19319  s3    f3

[880 rows x 2 columns]

In [65]:
df_addition4 = df_serving_1st[["9", "10"]]
df_addition4 = df_addition4[df_addition4["9"].notna()]
df_addition4 = df_addition4[df_addition4["10"].notna()]
df_addition4.rename(columns={"9": "1", "10": "2"}, inplace = True)
df_addition4

        1     2
4      f3    b3
25     f2    z3
44     l2   v1*
194    f1    r2
233    b2    f1
...    ..   ...
19263  f3    s3
19285  m2  o-1*
19295  f1    f1
19312  b3    b2
19319  b3    f3

[544 rows x 2 columns]

In [69]:
df_serving_1st_all_shot_pairs = pd.concat([df_serving_1st_all_shot_pairs, df_addition1, df_addition2, df_addition3, df_addition4], ignore_index = True)
df_serving_1st_all_shot_pairs
#df3 = df1.append(df2, ignore_index=True)

        1     2
0     r28    f1
1     r37   b+3
2     r28    f1
3     b39    b2
4     f17   f+3
...   ...   ...
8710   f3    s3
8711   m2  o-1*
8712   f1    f1
8713   b3    b2
8714   b3    f3

[8715 rows x 2 columns]

In [70]:
# When the opponent played in dir 1:
df_serving_1st_oppo_dir1 = df_serving_1st_all_shot_pairs.loc[df_serving_1st_all_shot_pairs["1"].str.contains("1", case = True)]
len(df_serving_1st_oppo_dir1)

1666

In [71]:
df_serving_1st_oppo_dir2 = df_serving_1st_all_shot_pairs.loc[df_serving_1st_all_shot_pairs["1"].str.contains("2", case = True)]
len(df_serving_1st_oppo_dir2)

3876

In [72]:
df_serving_1st_oppo_dir3 = df_serving_1st_all_shot_pairs.loc[df_serving_1st_all_shot_pairs["1"].str.contains("3", case = True)]
len(df_serving_1st_oppo_dir3)

3062

In [78]:
df_serving_1st_oppo_dir1_djoko_dir1 = df_serving_1st_oppo_dir1.loc[df_serving_1st_oppo_dir1["2"].str.contains("1", case = True)]
len(df_serving_1st_oppo_dir1_djoko_dir1)

651

In [79]:
df_serving_1st_oppo_dir1_djoko_dir2 = df_serving_1st_oppo_dir1.loc[df_serving_1st_oppo_dir1["2"].str.contains("2", case = True)]
len(df_serving_1st_oppo_dir1_djoko_dir2)

421

In [80]:
df_serving_1st_oppo_dir1_djoko_dir3 = df_serving_1st_oppo_dir1.loc[df_serving_1st_oppo_dir1["2"].str.contains("3", case = True)]
len(df_serving_1st_oppo_dir1_djoko_dir3)

579

In [184]:
len(df_serving_1st_oppo_dir1_djoko_dir1.loc[df_serving_1st_oppo_dir1_djoko_dir1["2"].str.contains("q", case = True)])

0

In [185]:
len(df_serving_1st_oppo_dir1_djoko_dir2.loc[df_serving_1st_oppo_dir1_djoko_dir2["2"].str.contains("q", case = True)])

0

In [186]:
len(df_serving_1st_oppo_dir1_djoko_dir3.loc[df_serving_1st_oppo_dir1_djoko_dir3["2"].str.contains("q", case = True)])

0

In [190]:

df_serving_1st_oppo_dir1_djoko_dir1["2"] = df_serving_1st_oppo_dir1_djoko_dir1["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir1_djoko_dir1.loc[df_serving_1st_oppo_dir1_djoko_dir1["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\525225152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir1_djoko_dir1["2"] = df_serving_1st_oppo_dir1_djoko_dir1["2"].str.replace('*', 'a')

80

In [191]:

df_serving_1st_oppo_dir1_djoko_dir2["2"] = df_serving_1st_oppo_dir1_djoko_dir2["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir1_djoko_dir2.loc[df_serving_1st_oppo_dir1_djoko_dir2["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\1808784664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir1_djoko_dir2["2"] = df_serving_1st_oppo_dir1_djoko_dir2["2"].str.replace('*', 'a')

10

In [192]:

df_serving_1st_oppo_dir1_djoko_dir3["2"] = df_serving_1st_oppo_dir1_djoko_dir3["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir1_djoko_dir3.loc[df_serving_1st_oppo_dir1_djoko_dir3["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\2557179188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir1_djoko_dir3["2"] = df_serving_1st_oppo_dir1_djoko_dir3["2"].str.replace('*', 'a')

69

In [200]:
df_serving_1st_oppo_dir2_djoko_dir_1 = df_serving_1st_oppo_dir2.loc[df_serving_1st_oppo_dir2["2"].str.contains("1", case = True)]
len(df_serving_1st_oppo_dir2_djoko_dir_1)

1442

In [201]:
df_serving_1st_oppo_dir2_djoko_dir_2 = df_serving_1st_oppo_dir2.loc[df_serving_1st_oppo_dir2["2"].str.contains("2", case = True)]
len(df_serving_1st_oppo_dir2_djoko_dir_2)

782

In [202]:
df_serving_1st_oppo_dir2_djoko_dir_3 = df_serving_1st_oppo_dir2.loc[df_serving_1st_oppo_dir2["2"].str.contains("3", case = True)]
len(df_serving_1st_oppo_dir2_djoko_dir_3)

1646

In [277]:
len(df_serving_1st_oppo_dir2_djoko_dir_1.loc[df_serving_1st_oppo_dir2_djoko_dir_1["2"].str.contains("q", case = True)])

0

In [278]:
len(df_serving_1st_oppo_dir2_djoko_dir_2.loc[df_serving_1st_oppo_dir2_djoko_dir_2["2"].str.contains("q", case = True)])

0

In [279]:
len(df_serving_1st_oppo_dir2_djoko_dir_3.loc[df_serving_1st_oppo_dir2_djoko_dir_3["2"].str.contains("q", case = True)])

0

In [280]:
df_serving_1st_oppo_dir2_djoko_dir_1["2"] = df_serving_1st_oppo_dir2_djoko_dir_1["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir2_djoko_dir_1.loc[df_serving_1st_oppo_dir2_djoko_dir_1["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\2629296103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir2_djoko_dir_1["2"] = df_serving_1st_oppo_dir2_djoko_dir_1["2"].str.replace('*', 'a')

256

In [281]:
df_serving_1st_oppo_dir2_djoko_dir_2["2"] = df_serving_1st_oppo_dir2_djoko_dir_2["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir2_djoko_dir_2.loc[df_serving_1st_oppo_dir2_djoko_dir_2["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\2989285210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir2_djoko_dir_2["2"] = df_serving_1st_oppo_dir2_djoko_dir_2["2"].str.replace('*', 'a')

15

In [282]:
df_serving_1st_oppo_dir2_djoko_dir_3["2"] = df_serving_1st_oppo_dir2_djoko_dir_3["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir2_djoko_dir_3.loc[df_serving_1st_oppo_dir2_djoko_dir_3["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\3308234143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir2_djoko_dir_3["2"] = df_serving_1st_oppo_dir2_djoko_dir_3["2"].str.replace('*', 'a')

164

In [283]:
df_serving_1st_oppo_dir3

        1    2
1     r37  b+3
3     b39   b2
6     r38   b3
7     r38   f3
8     s37  b+3
...   ...  ...
8706  b+3   s#
8707   b3   b3
8710   f3   s3
8713   b3   b2
8714   b3   f3

[3062 rows x 2 columns]

In [287]:
df_serving_1st_oppo_dir3_djoko_dir_1 = df_serving_1st_oppo_dir3.loc[df_serving_1st_oppo_dir3["2"].str.contains("1", case = True)]
len(df_serving_1st_oppo_dir3_djoko_dir_1)

934

In [288]:
df_serving_1st_oppo_dir3_djoko_dir_2 = df_serving_1st_oppo_dir3.loc[df_serving_1st_oppo_dir3["2"].str.contains("2", case = True)]
len(df_serving_1st_oppo_dir3_djoko_dir_2)

602

In [289]:
df_serving_1st_oppo_dir3_djoko_dir_3 = df_serving_1st_oppo_dir3.loc[df_serving_1st_oppo_dir3["2"].str.contains("3", case = True)]
len(df_serving_1st_oppo_dir3_djoko_dir_3)

1511

In [365]:
len(df_serving_1st_oppo_dir3_djoko_dir_1.loc[df_serving_1st_oppo_dir3_djoko_dir_1["2"].str.contains("9", case = True)])

47

In [366]:
len(df_serving_1st_oppo_dir3_djoko_dir_2.loc[df_serving_1st_oppo_dir3_djoko_dir_2["2"].str.contains("9", case = True)])

60

In [367]:
len(df_serving_1st_oppo_dir3_djoko_dir_3.loc[df_serving_1st_oppo_dir3_djoko_dir_3["2"].str.contains("9", case = True)])

100

In [368]:
df_serving_1st_oppo_dir3_djoko_dir_1["2"] = df_serving_1st_oppo_dir3_djoko_dir_1["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir3_djoko_dir_1.loc[df_serving_1st_oppo_dir3_djoko_dir_1["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\284337065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir3_djoko_dir_1["2"] = df_serving_1st_oppo_dir3_djoko_dir_1["2"].str.replace('*', 'a')

160

In [369]:
df_serving_1st_oppo_dir3_djoko_dir_2["2"] = df_serving_1st_oppo_dir3_djoko_dir_2["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir3_djoko_dir_2.loc[df_serving_1st_oppo_dir3_djoko_dir_2["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\1624933272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir3_djoko_dir_2["2"] = df_serving_1st_oppo_dir3_djoko_dir_2["2"].str.replace('*', 'a')

15

In [370]:
df_serving_1st_oppo_dir3_djoko_dir_3["2"] = df_serving_1st_oppo_dir3_djoko_dir_3["2"].str.replace('*', 'a')
len(df_serving_1st_oppo_dir3_djoko_dir_3.loc[df_serving_1st_oppo_dir3_djoko_dir_3["2"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\598932994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_1st_oppo_dir3_djoko_dir_3["2"] = df_serving_1st_oppo_dir3_djoko_dir_3["2"].str.replace('*', 'a')

97

In [371]:
# When Djokovic is opening the ralley with a second serve we have to look at Djokos Shots: "3", "5", "7" and so on
df_serving_2nd

,Pts,Gm1,Gm2,Set1,Set2,Serving,0,1,2,3,...,44,45,46,47,48,49,50,51,52,53
0,0-0,0,0,0,0,ND,"4n,",4,f18,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0-15,0,0,0,0,ND,"4n,",6,f2n#,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-15,0,0,0,0,ND,"4n,",5,b3n@,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0-15,1,1,0,0,ND,"4n,",5,b28,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0-30,1,1,0,0,ND,"4d,",6,b28,f2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19300,40-40,2,3,1,1,ND,"6n,",4,f27,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19303,AD-40,2,3,1,1,ND,"4x,",6,f39,b3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19320,0-30,5,4,1,1,ND,"6w,",5,b39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19322,30-30,5,4,1,1,ND,"4d,",4,f19,f3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19323,40-30,5,4,1,1,ND,"6n,",5,f39,b2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [374]:
df_serving_2nd_all_shot_pairs = df_serving_2nd[["2", "3"]]
df_serving_2nd_all_shot_pairs = df_serving_2nd_all_shot_pairs[df_serving_2nd_all_shot_pairs['2'].notna()]
df_serving_2nd_all_shot_pairs

          2    3
0       f18   f3
1      f2n#  NaN
3      b3n@  NaN
14      b28   f3
15      b28   f2
...     ...  ...
19300   f27   b2
19303   f39   b3
19320   b39   b2
19322   f19   f3
19323   f39   b2

[2845 rows x 2 columns]

In [375]:
df_addition1_1 = df_serving_2nd[["4", "5"]]
df_addition1_1 = df_addition1_1[df_addition1_1["4"].notna()]
df_addition1_1 = df_addition1_1[df_addition1_1["5"].notna()]
df_addition1_1.rename(columns={"4": "2", "5": "3"}, inplace = True)
df_addition1_1

        2    3
0      s2   f1
14     b2   f3
15     f1   f1
23     b1  f1*
53     b2   f1
...    ..  ...
19300  s3   s3
19303  s3   f3
19320  b2   f3
19322  b3   b3
19323  f3   b1

[1674 rows x 2 columns]

In [376]:
df_addition1_2 = df_serving_2nd[["6", "7"]]
df_addition1_2 = df_addition1_2[df_addition1_2["6"].notna()]
df_addition1_2 = df_addition1_2[df_addition1_2["7"].notna()]
df_addition1_2.rename(columns={"6": "2", "7": "3"}, inplace = True)
df_addition1_2

        2     3
0      f3  b3n@
14     b3    f2
15     f3    b3
53     f1    f3
66     f1  h3n#
...    ..   ...
19300  s3    b2
19303  s3    f3
19320  b3    b3
19322  b1    f2
19323  f1    f1

[1117 rows x 2 columns]

In [377]:
df_addition1_3 = df_serving_2nd[["8", "9"]]
df_addition1_3 = df_addition1_3[df_addition1_3["8"].notna()]
df_addition1_3 = df_addition1_3[df_addition1_3["9"].notna()]
df_addition1_3.rename(columns={"8": "2", "9": "3"}, inplace = True)
df_addition1_3

        2     3
14     f2    f3
15     b3    b2
85     b2    f3
96     f1  f3w@
97     f3    b2
...    ..   ...
19300  b1  f2n@
19303  s3    f1
19320  s3    b3
19322  b3    s3
19323  f2    b3

[734 rows x 2 columns]

In [378]:
df_addition1_4 = df_serving_2nd[["10", "11"]]
df_addition1_4 = df_addition1_4[df_addition1_4["10"].notna()]
df_addition1_4 = df_addition1_4[df_addition1_4["11"].notna()]
df_addition1_4.rename(columns={"10": "2", "11": "3"}, inplace = True)
df_addition1_4

        2   3
14     s1  f1
85     b3  b3
97     f3  b3
110    b3  b3
134    f1  f2
...    ..  ..
19277  f1  f3
19287  s2  f3
19320  b3  b3
19322  f3  b3
19323  b2  b1

[514 rows x 2 columns]

In [379]:
df_addition1_5 = df_serving_2nd[["12", "13"]]
df_addition1_5 = df_addition1_5[df_addition1_5["12"].notna()]
df_addition1_5 = df_addition1_5[df_addition1_5["13"].notna()]
df_addition1_5.rename(columns={"12": "2", "13": "3"}, inplace = True)
df_addition1_5

        2   3
14     f1  f3
85     f2  b3
97     b3  b3
110    b3  b3
175    f1  f2
...    ..  ..
19277  s2  f1
19287  b3  b2
19320  b3  s3
19322  b3  b2
19323  f1  f1

[358 rows x 2 columns]

In [380]:
df_serving_2nd_all_shot_pairs = pd.concat([df_serving_2nd_all_shot_pairs, df_addition1_1, df_addition1_2, df_addition1_3, df_addition1_4, df_addition1_5], ignore_index = True)
df_serving_2nd_all_shot_pairs

         2    3
0      f18   f3
1     f2n#  NaN
2     b3n@  NaN
3      b28   f3
4      b28   f2
...    ...  ...
7237    s2   f1
7238    b3   b2
7239    b3   s3
7240    b3   b2
7241    f1   f1

[7242 rows x 2 columns]

In [381]:
# When the opponent played in dir 1:
df_serving_2nd_oppo_dir1 = df_serving_2nd_all_shot_pairs.loc[df_serving_2nd_all_shot_pairs["2"].str.contains("1", case = True)]
len(df_serving_2nd_oppo_dir1)

1538

In [382]:
df_serving_2nd_oppo_dir2 = df_serving_2nd_all_shot_pairs.loc[df_serving_2nd_all_shot_pairs["2"].str.contains("2", case = True)]
len(df_serving_2nd_oppo_dir2)

2741

In [383]:
df_serving_2nd_oppo_dir3 = df_serving_2nd_all_shot_pairs.loc[df_serving_2nd_all_shot_pairs["2"].str.contains("3", case = True)]
len(df_serving_2nd_oppo_dir3)

2871

In [392]:
df_serving_2nd_oppo_dir1 = df_serving_2nd_oppo_dir1[df_serving_2nd_oppo_dir1["3"].notna()]
df_serving_2nd_oppo_dir2 = df_serving_2nd_oppo_dir2[df_serving_2nd_oppo_dir2["3"].notna()]
df_serving_2nd_oppo_dir3 = df_serving_2nd_oppo_dir3[df_serving_2nd_oppo_dir3["3"].notna()]

In [397]:
len(df_serving_2nd_oppo_dir1), len(df_serving_2nd_oppo_dir2), len(df_serving_2nd_oppo_dir3)

(1414, 2591, 2710)

In [401]:
df_serving_2nd_oppo_dir1_djoko_dir1 = df_serving_2nd_oppo_dir1.loc[df_serving_2nd_oppo_dir1["3"].str.contains("1", case = True)]
len(df_serving_2nd_oppo_dir1_djoko_dir1)

587

In [402]:
df_serving_2nd_oppo_dir1_djoko_dir2 = df_serving_2nd_oppo_dir1.loc[df_serving_2nd_oppo_dir1["3"].str.contains("2", case = True)]
len(df_serving_2nd_oppo_dir1_djoko_dir2)

383

In [403]:
df_serving_2nd_oppo_dir1_djoko_dir3 = df_serving_2nd_oppo_dir1.loc[df_serving_2nd_oppo_dir1["3"].str.contains("3", case = True)]
len(df_serving_2nd_oppo_dir1_djoko_dir3)

433

In [479]:
len(df_serving_2nd_oppo_dir1_djoko_dir1.loc[df_serving_2nd_oppo_dir1_djoko_dir1["3"].str.contains("q", case = True)])

0

In [480]:
len(df_serving_2nd_oppo_dir1_djoko_dir2.loc[df_serving_2nd_oppo_dir1_djoko_dir2["3"].str.contains("q", case = True)])

0

In [481]:
len(df_serving_2nd_oppo_dir1_djoko_dir3.loc[df_serving_2nd_oppo_dir1_djoko_dir3["3"].str.contains("q", case = True)])

0

In [485]:
df_serving_2nd_oppo_dir1_djoko_dir1["3"] = df_serving_2nd_oppo_dir1_djoko_dir1["3"].str.replace('*', 'a')
len(df_serving_2nd_oppo_dir1_djoko_dir1.loc[df_serving_2nd_oppo_dir1_djoko_dir1["3"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\783007518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_2nd_oppo_dir1_djoko_dir1["3"] = df_serving_2nd_oppo_dir1_djoko_dir1["3"].str.replace('*', 'a')

36

In [486]:
df_serving_2nd_oppo_dir1_djoko_dir2["3"] = df_serving_2nd_oppo_dir1_djoko_dir2["3"].str.replace('*', 'a')
len(df_serving_2nd_oppo_dir1_djoko_dir2.loc[df_serving_2nd_oppo_dir1_djoko_dir2["3"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\34451558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_2nd_oppo_dir1_djoko_dir2["3"] = df_serving_2nd_oppo_dir1_djoko_dir2["3"].str.replace('*', 'a')

9

In [487]:
df_serving_2nd_oppo_dir1_djoko_dir3["3"] = df_serving_2nd_oppo_dir1_djoko_dir3["3"].str.replace('*', 'a')
len(df_serving_2nd_oppo_dir1_djoko_dir3.loc[df_serving_2nd_oppo_dir1_djoko_dir3["3"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\2792775502.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_2nd_oppo_dir1_djoko_dir3["3"] = df_serving_2nd_oppo_dir1_djoko_dir3["3"].str.replace('*', 'a')

32

In [490]:
df_serving_2nd_oppo_dir2

        2    3
3     b28   f3
4     b28   f2
5     f28   f2
7     b27   f3
8     f28   f3
...   ...  ...
7207   b2   f1
7209   r2   b3
7226   f2   f3
7228   r2  f+3
7237   s2   f1

[2591 rows x 2 columns]

In [496]:
df_serving_2nd_oppo_dir2_djoko_dir1 = df_serving_2nd_oppo_dir2.loc[df_serving_2nd_oppo_dir2["3"].str.contains("1", case = True)]
len(df_serving_2nd_oppo_dir2_djoko_dir1)

758

In [497]:
df_serving_2nd_oppo_dir2_djoko_dir2 = df_serving_2nd_oppo_dir2.loc[df_serving_2nd_oppo_dir2["3"].str.contains("2", case = True)]
len(df_serving_2nd_oppo_dir2_djoko_dir2)

734

In [498]:
df_serving_2nd_oppo_dir2_djoko_dir3 = df_serving_2nd_oppo_dir2.loc[df_serving_2nd_oppo_dir2["3"].str.contains("3", case = True)]
len(df_serving_2nd_oppo_dir2_djoko_dir3)

1094

In [571]:
len(df_serving_2nd_oppo_dir2_djoko_dir1.loc[df_serving_2nd_oppo_dir2_djoko_dir1["3"].str.contains("q", case = True)])

0

In [572]:
len(df_serving_2nd_oppo_dir2_djoko_dir2.loc[df_serving_2nd_oppo_dir2_djoko_dir2["3"].str.contains("q", case = True)])

0

In [573]:
len(df_serving_2nd_oppo_dir2_djoko_dir3.loc[df_serving_2nd_oppo_dir2_djoko_dir3["3"].str.contains("q", case = True)])

0

In [574]:
df_serving_2nd_oppo_dir2_djoko_dir1["3"] = df_serving_2nd_oppo_dir2_djoko_dir1["3"].str.replace('*', 'a')
len(df_serving_2nd_oppo_dir2_djoko_dir1.loc[df_serving_2nd_oppo_dir2_djoko_dir1["3"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\492761547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_2nd_oppo_dir2_djoko_dir1["3"] = df_serving_2nd_oppo_dir2_djoko_dir1["3"].str.replace('*', 'a')

68

In [575]:
df_serving_2nd_oppo_dir2_djoko_dir2["3"] = df_serving_2nd_oppo_dir2_djoko_dir2["3"].str.replace('*', 'a')
len(df_serving_2nd_oppo_dir2_djoko_dir2.loc[df_serving_2nd_oppo_dir2_djoko_dir2["3"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\558656244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_2nd_oppo_dir2_djoko_dir2["3"] = df_serving_2nd_oppo_dir2_djoko_dir2["3"].str.replace('*', 'a')

2

In [576]:
df_serving_2nd_oppo_dir2_djoko_dir3["3"] = df_serving_2nd_oppo_dir2_djoko_dir3["3"].str.replace('*', 'a')
len(df_serving_2nd_oppo_dir2_djoko_dir3.loc[df_serving_2nd_oppo_dir2_djoko_dir3["3"].str.contains("a", case = True)])

C:\Users\carlo\AppData\Local\Temp\ipykernel_13516\1590072969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_serving_2nd_oppo_dir2_djoko_dir3["3"] = df_serving_2nd_oppo_dir2_djoko_dir3["3"].str.replace('*', 'a')

67

In [577]:
df_serving_2nd_oppo_dir3

        2     3
10    f38    b3
17    b38    b2
24    f38    b1
25    b38    b3
52    b38   b+1
...   ...   ...
7235   f3    b3
7236  o-3  b3n#
7238   b3    b2
7239   b3    s3
7240   b3    b2

[2710 rows x 2 columns]

In [ ]:
df_serving_2nd_oppo_dir3_djoko_dir1 = df_serving_2nd_oppo_dir3.loc[df_serving_2nd_oppo_dir3["3"].str.contains("1", case = True)]
len(df_serving_2nd_oppo_dir3_djoko_dir1)

In [ ]:
df_serving_2nd_oppo_dir3_djoko_dir2 = df_serving_2nd_oppo_dir3.loc[df_serving_2nd_oppo_dir3["3"].str.contains("2", case = True)]
len(df_serving_2nd_oppo_dir3_djoko_dir2)

In [ ]:
df_serving_2nd_oppo_dir3_djoko_dir3 = df_serving_2nd_oppo_dir3.loc[df_serving_2nd_oppo_dir3["3"].str.contains("3", case = True)]
len(df_serving_2nd_oppo_dir3_djoko_dir3)