In [16]:
import pandas as pd

In [17]:
df_0 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_1_10k.csv", encoding='unicode_escape', low_memory=False)
df_1 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_10001_20k.csv", encoding='unicode_escape', low_memory=False)
df_2 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_20001_30k.csv", encoding='unicode_escape', low_memory=False)
df_3 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_30001_40k.csv", encoding='unicode_escape', low_memory=False)
df_4 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_40001_50k.csv", encoding='unicode_escape', low_memory=False)
df_5 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_50001_60k.csv", encoding='unicode_escape', low_memory=False)
df_6 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_60001_70k.csv", encoding='unicode_escape', low_memory=False)
df_7 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_70001_80k.csv", encoding='unicode_escape', low_memory=False)
df_8 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_80001_90k.csv", encoding='unicode_escape', low_memory=False)
df_9 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_90001_100k.csv", encoding='unicode_escape', low_memory=False)
df_10 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_100001_110k.csv", encoding='unicode_escape', low_memory=False)
df_11 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_110001_120k.csv", encoding='unicode_escape', low_memory=False)
df_12 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_120001_130k.csv", encoding='unicode_escape', low_memory=False)
df_13 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_130001_140k.csv", encoding='unicode_escape', low_memory=False)
df_14 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_140001_150k.csv", encoding='unicode_escape', low_memory=False)
df_15 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_150001_160k.csv", encoding='unicode_escape', low_memory=False)
df_16 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_160001_170k.csv", encoding='unicode_escape', low_memory=False)
df_17 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_170001_180k.csv", encoding='unicode_escape', low_memory=False)
df_18 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_180001_190k.csv", encoding='unicode_escape', low_memory=False)
df_19 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_190001_200k.csv", encoding='unicode_escape', low_memory=False)
df_20 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_200001_210k.csv", encoding='unicode_escape', low_memory=False)
df_21 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_210001_220k.csv", encoding='unicode_escape', low_memory=False)
df_22 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_220001_230k.csv", encoding='unicode_escape', low_memory=False)
df_23 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_230001_240k.csv", encoding='unicode_escape', low_memory=False)
df_24 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_240001_250k.csv", encoding='unicode_escape', low_memory=False)
df_25 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_250001_260k.csv", encoding='unicode_escape', low_memory=False)
df_26 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_260001_270k.csv", encoding='unicode_escape', low_memory=False)
df_27 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_270001_280k.csv", encoding='unicode_escape', low_memory=False)
df_28 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_280001_290k.csv", encoding='unicode_escape', low_memory=False)
df_29 = pd.read_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\datasets_small\df_290001_295k.csv", encoding='unicode_escape', low_memory=False)

In [18]:
all_dfs = [df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, 
           df_11, df_12, df_13, df_14, df_15, df_16, df_17, df_18, df_19, 
           df_20, df_21, df_22, df_23, df_24, df_25, df_26, df_27, df_28, 
           df_29]

In [19]:
for i in all_dfs:
    i.drop("Unnamed: 0", axis = 1, inplace=True)
    i.drop([0], inplace= True)

In [25]:
result = pd.concat(all_dfs, ignore_index=True)

In [27]:
df_all_ralleys_splitted = result

In [28]:
df_all_ralleys_splitted

,0,1,2,3,4,5,6,7,8,9,...,75,76,77,78,79,80,81,82,83,84
0,"4d,",5n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"4#,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"4n,",5,f29,f3n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,f3x#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"4#,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295348,4,b1,b1,f1,b1,f1*,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295349,"6w,",5,f1,b2,b3d@,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295350,"4w,",6d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295351,6,s1,f1,f2n#,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295352,6,s2n#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#df_all_ralleys_splitted.to_csv(r"C:\Users\Carlo\Repos\TrainingsTool\Tennis\Datasets\df_all_ralleys_splitted.csv", encoding='utf-8')